<h1>Listing lists</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Sid</th>
    <th>Scheduled for</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%= list.user_id %></td>
    <td><%= list.name %></td>
    <td><%= list.sid %></td>
    <td><%= list.scheduled_for %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List', new_list_path %>
