<h1>Listing list_contacts</h1>

<table>
  <tr>
    <th>List</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_contacts.each do |list_contact| %>
  <tr>
    <td><%= list_contact.list_id %></td>
    <td><%= list_contact.contact_id %></td>
    <td><%= link_to 'Show', list_contact %></td>
    <td><%= link_to 'Edit', edit_list_contact_path(list_contact) %></td>
    <td><%= link_to 'Destroy', list_contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List contact', new_list_contact_path %>
