/* CallSmith */
window.CallSmith = window.CallSmith || {	
	/* Instance Fields */
	
	_this: null,
	contacts: [],
	currentContactIndex: -1,
	contactCreateUrl: "<%=user_contacts_url(:user_id => current_user.id, :auth_token => current_user.authentication_token)%>",
	elm: null,
		
	
	/* Util */
	
	Util: {
		/* Instance Fields */
		_this: null,
		$: null, //jQuery
		phoneNumberRegex: <%=Contact.phone_regex%>,
		
		/* Methods */
		
		/* Debug */
		Debug: {
			active: <%= Rails.env.development? || Rails.env.dev?  ? "true" : "false"%>,

			log: function(message){
				if (this.active){
					console.log(new Date().getTime() + " " + message);
				}
			},

			alert: function(message){
				if (this.active){
					alert(message);
				}
			},
		},

		init: function(callback){
			_this = this;
			
			_this.Debug.log("CallSmith.Util.init();");
			
			_this.loadCss("<%=root_url() + asset_path("contacts.css")[1..-1] %>", function(){});
			
			_this.loadScript("<%=root_url() + asset_path("jquery.js")[1..-1] %>", function(){
				_this.Debug.log("CallSmith.Util.init(); : 'jQuery Active'");
		     	_this.$ = jQuery.noConflict();
		
		
		
				//TODO make this work in the case where we load more than one js file that we depend on -JosephP
				if(callback){
					callback();
				}
		
				//Extend jQuery filters to user regx
				//http://james.padolsey.com/javascript/regex-selector-for-jquery/
			});
		},
		
		regexSearch: function(searchText, searchNode, callback){
			
			if (!searchText) {
				// Throw error here if you want...
				return;
			}
			var regex = typeof searchText === 'string' ? new RegExp(searchText, 'g') : searchText,
			childNodes = (searchNode || document.body).childNodes,
			cnLength = childNodes.length,
			excludes = 'html,head,style,title,link,meta,script,object,iframe';
			while (cnLength--) {
				var currentNode = childNodes[cnLength];
				if (currentNode.nodeType === 1 && (excludes + ',').indexOf(currentNode.nodeName.toLowerCase() + ',') === -1) {
					arguments.callee(searchText, currentNode, callback);
				}
				if (currentNode.nodeType !== 3 || !regex.test(currentNode.data) ) {
					continue;
				}
				if(callback){
					callback(currentNode, currentNode.data.match(regex));
				}
			}
		},
		
		loadScript: function(src, callback){
			_this = this;
			_this.Debug.log("CallSmith.Util.loadScript();");
						
			var head= document.getElementsByTagName('head')[0];
			var script= document.createElement('script');

			script.onreadystatechange = function (){
				if (this.readyState == 'complete'){
					_this.Debug.log("CallSmith.Util.loadScript(); : '" + src + "  Loaded'");
					callback();
				}
			}
			script.onload = function(){
				_this.Debug.log("CallSmith.Util.loadScript(); : '" + src + "  Loaded'");
				callback();
			}
			
			script.type	= 'text/javascript';
			script.src	= src;
			
			head.appendChild(script);
		},
		
		loadCss: function(src, callback){
			_this = this;
			_this.Debug.log("CallSmith.Util.loadCss();");
						
			var head = document.getElementsByTagName('head')[0];
			var script = document.createElement('LINK');

			script.onreadystatechange = function (){
				if (this.readyState == 'complete'){
					_this.Debug.log("CallSmith.Util.loadCss(); : '" + src + "  Loaded'");
					callback();
				}
			}
			script.onload = function(){
				_this.Debug.log("CallSmith.Util.loadCss(); : '" + src + "  Loaded'");
				callback();
			}
			
			script.rel 	= "stylesheet";
			script.type = "text/css";
			script.href = src;
			
			head.appendChild(script);
		}
		
	},
	
	
	/* Methods */
	
	Contact: function(){
		_this = this;
		this.node = null;
		this.phoneNumber = null;
		this.isSaved = false;
		this.firstName = "";
		this.lastName = "";
		
		this.json = function(){
			return {
				contact: { 
					calls_attributes: {
						0: {
							'scheduled_for(1i)': 2011,
			 				'scheduled_for(2i)': 9,
			 				'scheduled_for(3i)': 23
						}
					},
			 		phone_number: 	this.phoneNumber,
				 	first_name: 	this.firstName,
				 	last_name: 		this.lastName
				}
			}
		}
		
		this.save = function(){
			_this = this;
			_this.firstName = CallSmith.Util.$(CallSmith.elm).find('input[name="contact[first_name]"]').val();
			_this.lastName = CallSmith.Util.$(CallSmith.elm).find('input[name="contact[last_name]"]').val();
			
			CallSmith.Util.$.post(CallSmith.contactCreateUrl, CallSmith.getCurrentContact().json(), function(data) {
				_this.isSaved = true;
				CallSmith.render();
			 }, "json")
		    .error(function(x,e){
				if(x.status==0){
					_this.isSaved = true;
					CallSmith.render();
					//alert('You are offline!!\n Please Check Your Network.');
				}else if(x.status==404){
					alert('Requested URL not found.');
				}else if(x.status==500){
					alert('Internel Server Error.');
				}else if(e=='parsererror'){
					alert('Error.\nParsing JSON Request failed.');
				}else if(e=='timeout'){
					alert('Request Time out.');
				}else {
					alert('Unknow Error.\n'+x.responseText);
				}
			});
		}
		
		this.getStatusText = function(){
			var text = "";
			if(this.isSaved){
				text = "Saved!"
			}	
			return text;
		}
	},

	init: function(){
		_this = this;
		_this.Util.init(_this.onLoad);
	},
	
	onLoad: function(){
		CallSmith.Util.Debug.log("CallSmith.onLoad();");
		
		CallSmith.Util.regexSearch(<%=Contact.phone_regex%>, null, function(node, text){
			var contact = new CallSmith.Contact();
			contact.node = node;
			contact.phoneNumber = text[0];
			
			CallSmith.contacts.push(contact);
		});
		
		CallSmith.contacts.reverse();
		
		
		CallSmith.elm = CallSmith.Util.$("<div id='CallSmith-root' class='CallSmith-header'>");
		
		CallSmith.Util.$(document.body).append(CallSmith.elm);
		
		CallSmith.nextContact();
	},
	
	nextContact: function(){
		CallSmith.Util.Debug.log("CallSmith.nextContact();");
		
		CallSmith.Util.Debug.log("CallSmith.nextContact(); : index = " + CallSmith.currentContactIndex);
		
		CallSmith.currentContactIndex +=  (CallSmith.currentContactIndex + 1 < CallSmith.contacts.length) ? 1 : 0;
		CallSmith.render();
		
		CallSmith.Util.Debug.log("CallSmith.nextContact(); : index = " + CallSmith.currentContactIndex); 
	},
	
	previousContact: function(){
		CallSmith.Util.Debug.log("CallSmith.previousContact();");
		
		CallSmith.currentContactIndex -=  (CallSmith.currentContactIndex > 0) ? 1 : 0; 
		CallSmith.render();
		
		CallSmith.Util.Debug.log("CallSmith.nextContact(); : index = " + CallSmith.currentContactIndex);
	},

	getCurrentContact: function(){
		CallSmith.Util.Debug.log("CallSmith.currentContact();");
			
		return CallSmith.contacts[CallSmith.currentContactIndex]
	},
	
	render: function(){
		CallSmith.Util.Debug.log("CallSmith.render();");
		CallSmith.elm.html(CallSmith.guts());
	},
		
	guts: function(){
		
		if(CallSmith.getCurrentContact()){
			return	[
					"<div class='label'>",
						CallSmith.getCurrentContact().getStatusText(),
					"</div>",
					"<div class='label'>",
						(CallSmith.currentContactIndex + 1) + " of " + CallSmith.contacts.length + " contacts found. Number:",
					"</div>",
					"<input id='contact_phone_number' maxlength='255' name='contact[phone_number]' placeholder='Phone Number' type='text' class='' value='"+ CallSmith.getCurrentContact().phoneNumber + "'>",
					"<input id='contact_first_name' maxlength='255' name='contact[first_name]' placeholder='First Name' type='text' class='' value='"+ CallSmith.getCurrentContact().firstName + "'>",
					"<input id='contact_last_name' maxlength='255' name='contact[last_name]' placeholder='Last Name' type='text' class='' value='"+ CallSmith.getCurrentContact().lastName + "'>",
					"<button class='previous contact-button' onclick='CallSmith.previousContact();'></button>",
					"<button class='next contact-button' onclick='CallSmith.nextContact();'></button>",
					"<button class='save contact-button' onclick='CallSmith.getCurrentContact().save();'>Save</button>",
					"<div class='label'>",
						"<a href='" + CallSmith.contactCreateUrl + "' target='_blank'>My Contacts</a>",
					"</div>"
					].join('\n');
		}else{
			return	[
					"<div class='label'>",
						"No contacts detected.",
					"</div>"	,
					"<div class='label'>",
						"<a href='" + CallSmith.contactCreateUrl + "' target='_blank'>My Contacts</a>",
					"</div>"
					].join('\n');	
		}
	},
}


window.CallSmith.init();
window.CallSmith.Util.Debug.log("CallSmith Loaded");

var xmlHttp = null;

function HighlightNumber(phone_nuber, currentNode)
{
	var Url = "<%=new_user_contact_url(current_user)%>?auth_token=<%=current_user.authentication_token%>&phone_number=" + phone_nuber;

	var xmlhttp = new XMLHttpRequest();

	xmlhttp.onreadystatechange = function()
	{
		var innerHtml = 
		   ["<span id='CallSmith-root' class='contact-wrap'>",	
				"<div class='colapse-button' onclick='toggleClass(this.parentNode, \"open\")'></div>",
				"<div>Call: " + phone_nuber + "</div>",
				xmlhttp.responseText,
			"</span>"
		   ].join('\n');
		

		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			var parent = currentNode.parentNode,
			frag = (function(){
				var html = innerHtml,
				wrap = document.createElement('span'),
				frag = document.createDocumentFragment();
				wrap.innerHTML = html;
				
				while (wrap.firstChild) {
					frag.appendChild(wrap.firstChild);
				}
				
				return frag;
			})();
				
			parent.insertBefore(frag, currentNode);
			parent.removeChild(currentNode);
		
		}
	}
		
	xmlhttp.open("GET",Url,true);
	xmlhttp.send();
}




function toggleClass(elm, className) {
	if (elm.className.indexOf(className) != -1){
		elm.className = elm.className.replace(className, "");
	}else{
		elm.className += (" " + className);
	}
}

function saveContactForm(){
	document.getElementById("new_contact").submit();	
}
