<td><%= user_id %></td>
<td><%= name %></td>
<td><%= sid %></td>
<td><%= scheduled_for %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>