<% if user_signed_in? %>
	<li>
		<%= link_to('Home', root_url, :method=>'delete') %>        
	</li>
	<li>
		<%= link_to('Calls', calls_path) %>
	</li>
	<li>
		<%= link_to('Contacts', user_contacts_path(current_user)) %>
	</li>
<% else %>
	<li>
		<%= link_to('Login', new_user_session_path)  %>  
	</li>
	<li>
		<%= link_to('Sign up', new_user_registration_path)  %>
	</li>
<% end %>
