<% if user_signed_in? %>

<div class="eight columns alpha">
	<CENTER><%= link_to 'Start',start_calls_path, confirm: 'Are you sure?', :class => "button" %> <%= link_to 'Next', next_calls_path, confirm: 'Are you sure?', :class => "button" %></CENTER>
</div>
<div class="clear"></div>
<div class="eight columns alpha">
<table class="nice">
  <tr>
    <td width=15%>Status</td>
    <td width=40%>Name</td>
    <td width=35%>Phone Number</td>
    <td width=10% colspan=2>Actions</td>
  </tr>

<% current_user.calls.pending.each do |call| %>
<div class="callitem">
  <tr>
    <td><%= call.aasm_state %></td>
    <td><%= call.contact.first_name %></td>
	<td><%= call.contact.phone_number %></td>    
<td><%= link_to image_tag("call.png", :size => "25x25"), dial_call_path(call), confirm: 'Are you sure?' %></td>
    <td><%= link_to image_tag("destroy.png", :size => "25x25"), call, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</div>
<% end %>
</table>
</div>

<div class="eight columns omega">
<table class="side">
		<tr>
			<td>Notes</td>
		</tr>
		<TR><TD>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </TD></TR>
</table>
</div>
<div class="clear"></div>
<BR>
<%@call = Call.new%>
<% else %>
<CENTER><H1>CallSmith</h1>
		<%= link_to('Sign up', new_user_registration_path, :class => 'button')  %>
		<%= link_to('Login', new_user_session_path, :class => 'button')  %>  
</CENTER>
<% end %>


