<% if user_signed_in? %>
<h3>Home</h3>
<h4>Listing all pending calls:</h4>
	<CENTER><%= link_to 'Start',start_calls_path, confirm: 'Are you sure?', :class => "button" %> <%= link_to 'Next', next_calls_path, confirm: 'Are you sure?', :class => "button" %></CENTER>

<div class="ten columns alpha">
<table class="nice">
  <tr>
    <td>Status</td>
    <td>Name</td>
    <td>Phone Number</td>
    <td colspan=2>Actions</td>
  </tr>

<% current_user.calls.pending.each do |call| %>
<div class="callitem">
  <tr>
    <td><%= call.aasm_state %></td>
    <td><%= call.contact.first_name %></td>
	<td><%= call.contact.phone_number %></td>    
<td><%= link_to image_tag("http://www.fordesigner.com/imguploads/Image/cjbc/zcool/png20080526/1211769232.png", :size => "25x25"), dial_call_path(call), confirm: 'Are you sure?' %></td>
    <td><%= link_to image_tag("http://www.gettyicons.com/free-icons/112/must-have/png/256/delete_256.png", :size => "25x25"), call, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</div>
<% end %>
</table>
</div>
<div class="six columns omega">
<table class="side">
		<tr>
			<td>Notes</td>
		</tr>
		<TR><TD>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </TD></TR>
</table>
</div>
<div class="clear"></div>
<BR>
<%@call = Call.new%>
<% else %>
<CENTER><H1>CallSmith</h1>
		<%= link_to('Sign up', new_user_registration_path, :class => 'button')  %>
		<%= link_to('Login', new_user_session_path, :class => 'button')  %>  
</CENTER>
<% end %>


