<h1>Listing contacts</h1>

<table class="nice">
  <tr>
    <td>Phone Number</td>
    <td>First name</td>
    <td>Last name</td>
    <td>Company</td>
    <td>Source</td>
    <td colspan=3>Actions</td>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.phone_number %></td>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.company %></td>
    <td><%= contact.source %></td>
    <td><%= link_to 'Show', [current_user, contact] %></td>
    <td><%= link_to 'Edit', edit_user_contact_path(current_user, contact) %></td>
    <td><%= link_to 'Destroy', [current_user, contact], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_user_contact_path %>
