<h1>Listing contacts</h1>

<table>
  <tr class="headers">
    <th>User</th>
    <th>Phone Number</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Company</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.user_id %></td>
    <td><%= contact.phone_number %></td>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.company %></td>
    <td><%= contact.source %></td>
    <td><%= link_to 'Show', [current_user, contact] %></td>
    <td><%= link_to 'Edit', edit_user_contact_path(current_user, contact) %></td>
    <td><%= link_to 'Destroy', [current_user, contact], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_user_contact_path %>
