<h1>Listing contact_notes</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_notes.each do |contact_note| %>
  <tr>
    <td><%= contact_note.contact_id %></td>
    <td><%= contact_note.text %></td>
    <td><%= link_to 'Show', contact_note %></td>
    <td><%= link_to 'Edit', edit_contact_note_path(contact_note) %></td>
    <td><%= link_to 'Destroy', contact_note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact note', new_contact_note_path %>
